.header {
  background-color: white;
  position: sticky !important;
  top: 0 !important;
  height: 84px !important;
  z-index: 1 !important;
  :global {
    .navbar-toggler {
      padding: 5px;
      border: transparent;
    }
    .navbar-toggler:focus {
      box-shadow: none;
    }
  }
  //search
  .Mobsearch {
    @media (min-width: 992px) {
      display: none;
    }
    :global {
      .search-container {
        background-color: #f2f2f2;
        border-radius: 50px;
        border: 1px solid #e5e7eb;
        height: 48px;
        width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .btn:first-child:active {
          color: transparent !important;
          background-color: transparent !important;
          border-color: transparent !important;
        }
        .search-input-dropdown {
          position: relative;
          .Mobform {
            border: 1px solid #e5e7eb;
            padding: 1rem;
            background: white;
            border-radius: 20px;
            position: absolute;
            right: 0;
            top: 30px;
            box-shadow: #6b7280;
            .input-group {
              position: relative;
              img {
                position: absolute;
                top: 11px;
                left: 230px;
              }
            }
            .form-control {
              background-color: #f2f2f2;
              width: 279px;
              padding-left: 45px !important;
              color: #6b7280 !important;
              border-radius: 20px !important;
              border: 1px solid #e5e7eb;
              color: #6b7280 !important;
            }
            .form-control:focus {
              border-bottom: 1px solid #cbcbcb !important;
              box-shadow: transparent !important;
            }
            input::-webkit-input-placeholder {
              color: #6b7280;
              font-size: 14px;
              font-weight: normal;
              line-height: 19.5px;
              @media (max-width: 991px) {
                font-size: 14px;
                line-height: 19.5px;
              }
            }

            input:-moz-placeholder {
              color: #6b7280;
              font-size: 14px;
              font-weight: normal;
              line-height: 19.5px;
              @media (max-width: 991px) {
                font-size: 14px;
                line-height: 19.5px;
              }
            }
            /* modern browser */
            *::placeholder {
              color: #6b7280;
            }
            .form-control:focus {
              border-color: #cbcbcb !important;
              border-bottom: 1px solid #cbcbcb !important;
              box-shadow: transparent !important;
              z-index: 0 !important;
            }
          }
        }
      }
    }
  }
  .nav {
    margin-top: 10px;
  }
  .link {
    margin-left: 10px;
    margin-right: 10px;
    .text {
      font-weight: 500;
      line-height: 24px;
      font-size: 16px;
    }
  }
  .formWrap {
    :global {
      .input-group {
        position: relative;
        img {
          position: absolute;
          top: 11px;
          left: 17px;
        }
      }
      .form-control {
        background-color: #f2f2f2;
        width: 279px;
        padding-left: 45px !important;
        color: #6b7280 !important;
        border-radius: 20px !important;
        border: 1px solid #e5e7eb;
        color: #6b7280 !important;
      }
      .form-control:focus {
        border-bottom: 1px solid #cbcbcb !important;
        box-shadow: transparent !important;
      }
      input::-webkit-input-placeholder {
        color: #6b7280;
        font-size: 14px;
        font-weight: normal;
        line-height: 19.5px;
        @media (max-width: 991px) {
          font-size: 14px;
          line-height: 19.5px;
        }
      }

      input:-moz-placeholder {
        color: #6b7280;
        font-size: 14px;
        font-weight: normal;
        line-height: 19.5px;
        @media (max-width: 991px) {
          font-size: 14px;
          line-height: 19.5px;
        }
      }
      /* modern browser */
      *::placeholder {
        color: #6b7280;
      }
      .form-control:focus {
        border-color: #cbcbcb !important;
        border-bottom: 1px solid #cbcbcb !important;
        box-shadow: transparent !important;
        z-index: 0 !important;
      }
    }
  }
}
// header
.Offcanvas {
  .link {
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    .text {
      margin-left: 0px !important;
      width: 30px;
    }
  }
}
