.GameScreenshots {
  margin-top: 50px;
  @media (max-width: 576px) {
    margin-top: 30px;
  }
  .Container {
    padding: 1.5rem 3rem;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #e5e7eb;
    margin-bottom: 3rem;
    h3 {
      margin-bottom: 2rem;
      @media (max-width: 1024px) {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
      }
    }
    .gameSlider {
      .appImg {
        border-radius: 10px;
        margin-bottom: 10px;
        width: 320px;
        height: 180px;
        object-fit: cover;
        @media (max-width: 992px) {
          width: 275px;
        }
      }
      @media (max-width: 576px) {
        :global {
          .slick-slide {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
          }
        }
      }
    }
    .navigation {
      position: relative;
      .button {
        position: absolute;
        top: -124px;
        right: 23px;
        // @media (max-width: 1380px) {
        //   // right: -60px;
        // }
        // @media (max-width: 768px) {
        //   // top: -158px;
        // }
        @media (max-width: 576px) {
          right: 10px;
        }
        i {
          color: black;
          font-size: 18px;
          // @media (max-width: 1380px) {
          //   font-size: 20px;
          // }
        }
      }
      :global {
        .SliderButton {
          background-color: white !important;
          border-radius: 50px !important;
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
          height: 32px !important;
          width: 32px !important;
        }
      }
    }
  }
}
