.PopularApps {
  margin-top: 50px;
  @media (max-width: 576px) {
    margin-top: 30px;
  }
  .Container {
    padding: 3rem;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #e5e7eb;
    margin-bottom: 3rem;
    @media (max-width: 768px) {
      padding-top: 1.5rem;
      padding-bottom: 0;
    }
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 992px) {
        margin-bottom: 0.5rem;
      }
      h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        margin-bottom: 0.25rem;
        @media (max-width: 768px) {
          font-size: 16px;
        }
        span {
          color: #6ee7b7;
        }
      }
      p {
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        // margin-bottom: 0;
        @media (max-width: 768px) {
          font-size: 10px;
          line-height: 12px;
        }
      }
    }
    .slider {
      .appCard {
        .appImg {
          border-radius: 10px;
          margin-bottom: 10px;
          width: 260px;
        }
        .appSmallImg {
          height: 40px;
          width: 40px;
        }
        .appInfo {
          margin-left: 10px;
          h3 {
            color: black;
            font-weight: 400;
            font-size: 12px;
            line-height: 14.4px;
            margin-bottom: 0.25rem !important;
          }
          p {
            color: #7f949a;
            font-weight: 400;
            font-size: 12px;
            line-height: 14.4px;
          }
        }
      }
    }
    // .navigation {
    //   position: relative;
    //   .button {
    //     position: absolute;
    //     top: -182px;
    //     right: -100px;
    //     @media (max-width: 1380px) {
    //       right: -60px;
    //     }
    //     @media (max-width: 768px) {
    //       top: -158px;
    //     }
    //     @media (max-width: 576px) {
    //       right: -6px;
    //     }
    //     i {
    //       color: black;
    //       font-size: 35px;
    //       @media (max-width: 1380px) {
    //         font-size: 20px;
    //       }
    //     }
    //   }
    // }
  }
}
