.modapkbanner {
  background-image: linear-gradient(#174b26 100%, #0f2515 100%);
  padding: 3rem 0;
  .Container {
    .row {
      color: white !important;
      .col {
        @media (max-width: 1024px) {
          text-align: center;
          margin-bottom: 3rem;
        }
        h3 {
          color: #6ee7b7;
          font-weight: 700;
          font-size: 20px;
          line-height: 25px;
          margin-bottom: 1.5rem;
          @media (max-width: 576px) {
            font-size: 16px;
            font-weight: 700;
          }
        }
        h2 {
          color: white;
          //   font-weight: 700;
          font-size: 40px;
          line-height: 50px;
          margin-bottom: 1.5rem;
          //   width: 75%;
          @media (max-width: 576px) {
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            width: 86%;
            margin-left: auto;
            margin-right: auto;
          }
        }
        p {
          color: white;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 0;
          @media (max-width: 576px) {
            font-size: 16px;
          }
        }
      }
      .formWrap {
        // width: 63%;
        .Form {
          @media (max-width: 1024px) {
            align-items: center;
            justify-content: center;
          }
          .button {
            height: 46px;
            width: 120px;
            color: white;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            background-color: #047857;
            border-radius: 52px;
            @media (max-width: 576px) {
              width: 101px;
            }
          }
          :global {
            .input-group {
              width: 63% !important;
              height: 46px !important;
            }
            .form-control {
              height: 46px !important;
              background-color: #f2f2f2;
              width: 376px !important;
              // padding-left: 46px !important;
              color: #cbcbcb !important;
              border-radius: 20px !important;
              border: 1px solid #e5e7eb;
              color: #cbcbcb !important;
            }
            .form-control:focus {
              border-bottom: 1px solid #cbcbcb !important;
              box-shadow: transparent !important;
            }
            input::-webkit-input-placeholder {
              color: #6b7280;
              font-size: 14px;
              font-weight: normal;
              line-height: 19.5px;
              @media (max-width: 991px) {
                font-size: 14px;
                line-height: 19.5px;
              }
            }

            input:-moz-placeholder {
              color: #6b7280;
              font-size: 14px;
              font-weight: normal;
              line-height: 19.5px;
              @media (max-width: 991px) {
                font-size: 14px;
                line-height: 19.5px;
              }
            }
            /* modern browser */
            *::placeholder {
              color: #6b7280;
            }
            .form-control:focus {
              border-color: #cbcbcb !important;
              border-bottom: 1px solid #cbcbcb !important;
              box-shadow: transparent !important;
            }
          }
          // }
        }
      }
      // Slider
      .colSlider {
        .slider {
          .sliderWrap {
            position: relative;
            .bgImg {
              // max-height: 584px;
              // width: 100%;
              object-fit: cover;
              box-shadow: rgb(233 9 9 / 25%) 0px -120px 76px -29px inset;
            }
            .dataWrap {
              position: absolute;
              bottom: 100px;
              display: flex;
              @media (max-width: 1024px) {
                bottom: 70px;
              }
              .imgwrap {
                display: flex;
                img {
                  // width: 60px;
                  // height: 60px;
                  margin-top: 5px;
                  margin-left: 25px;
                  margin-right: 25px;
                  @media (max-width: 576px) {
                    margin-left: 15px;
                    margin-right: 15px;
                  }
                }
                h2 {
                  font-size: 1.87rem;
                  font-weight: 700;
                  line-height: 2.37rem;
                  color: white;
                  width: 60%;
                  margin-bottom: 0;
                  @media (max-width: 1280px) {
                    font-size: 20px;
                    line-height: 29px;
                  }
                  @media (max-width: 576px) {
                    font-size: 16px;
                    line-height: 20px;
                  }
                }
              }
              .btnwrap {
                margin-right: 25px;
                @media (max-width: 576px) {
                  margin-right: 15px;
                }
                .btn {
                  height: 44px;
                  width: 116px;
                  color: white;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 20px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-left: 10px;
                  background-color: #047857;
                  border-radius: 52px;
                  @media (max-width: 576px) {
                    width: 101px;
                  }
                }
              }
            }
          }
          :global {
            .slick-dots {
              bottom: 25px;
              max-width: 200px !important;
              width: 100% !important;
              // width: 30% !important;
              // background-color: rgba(255, 255, 255, 0.105);
              background-color: #047857;
              border-radius: 50px;
              border: 1px solid #ffffff 10%;
              left: 0 !important;
              right: 0 !important;
              margin: auto !important;
              @media (max-width: 1280px) {
                // width: 55% !important;
              }
            }
            .slick-dots li.slick-active button:before {
              color: white;
            }
            .slick-dots li button:hover,
            .slick-dots li button:focus {
              background-color: rgba(255, 255, 255, 0.105);
            }
            .slick-dots li button:before {
              font-size: 16px !important;
              // color: rgba(255, 255, 255, 0.088);
            }
            .slick-dots li {
              margin-bottom: 6px;
            }
          }
        }
      }
    }
  }
}

.slickBtnWrapper {
  position: relative;
  .slickArrowPrev {
    position: absolute;
    top: 290px;
    left: 5%;
    background: rgb(255 255 255 / 31%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ffffff4f;
    @media (max-width: 1680px) {
      top: 330px;
    }
    @media (max-width: 1440px) {
      top: 310px;
    }
    @media (max-width: 1280px) {
      top: 230px;
    }
    @media (max-width: 1024px) {
      top: 360px;
    }
    @media (max-width: 768px) {
      top: 250px;
    }

    @media (max-width: 576px) {
      top: 155px;
    }
  }
  .slickArrowNext {
    position: absolute;
    top: 290px;
    right: 5%;
    background: rgb(255 255 255 / 31%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ffffff4f;
    img {
      rotate: 180deg;
    }
    @media (max-width: 1680px) {
      top: 330px;
    }
    @media (max-width: 1440px) {
      top: 310px;
    }
    @media (max-width: 1280px) {
      top: 230px;
    }
    @media (max-width: 1024px) {
      top: 360px;
    }
    @media (max-width: 768px) {
      top: 250px;
    }

    @media (max-width: 576px) {
      top: 155px;
    }
  }
}
