.SearchComponent {
  margin-bottom: 2rem;
  .col {
    @media (max-width: 576px) {
      width: 100% !important;
      flex: auto !important;
    }
    .card {
      box-shadow: 0 4px 8px 0 rgba(59, 58, 58, 0),
        0 6px 20px 0 rgba(171, 165, 165, 0.19) !important;
      border-radius: 20px;
      border: 1px solid rgba(248, 244, 244, 0.315);
      margin-bottom: 2rem;
      padding: 1rem;
      .cardBody {
        .cardWrap {
          display: flex;
          gap: 20px;
          margin: 0.5rem 0 1rem;
          .cardTitle {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            width: 90%;
            margin-bottom: 0;
            height: 60px;
          }
          .cardButton {
            margin-bottom: 1.5rem;
          }
          i {
            color: #378b4f !important;
            font-size: 18px !important;
            margin-left: 15px;
          }
        }
      }
    }
  }
}
