.termsOfServices {
  padding: 3rem 2rem;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #e5e7eb;
  h2 {
    font-weight: 700;
    margin-bottom: 2rem;
  }
  h3 {
    font-weight: 700;
    margin-bottom: 1rem;
  }

  p {
    font-weight: 400;
    font-size: 16px;
  }
  ul {
    li {
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 0.25rem;
    }
  }
  :global {
    .site-content {
      h4 {
        line-height: 2rem !important;
      }
      a {
        color: #378b4f !important;
      }
      .wp-block-table {
        overflow-x: auto;
      }
      .wp-block-table table {
        border-collapse: collapse;
        width: 100%;
      }
      .wp-block-table td,
      .wp-block-table th {
        border: 1px solid;
        padding: 0.5rem 1rem;
      }
    }
  }
}
